# Copy this file to /.env

# Rails (required)
SECRET_KEY_BASE=

# ActiveStorage
AWS_ACCESS_KEY_ID=
AWS_S3_BUCKET=
AWS_SECRET_ACCESS_KEY=

# Omniauth Google oAuth2
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

# Omniauth Facebook oAuth2
FACEBOOK_APP_ID=
FACEBOOK_SECRET=

# Omniauth Microsoft/Azure oAuth2
MICROSOFT_APP_ID=
MICROSOFT_SECRET=
