.row
  .col-sm-6.col-sm-offset-3
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'users/sign_up_fields', f: f

      = f.button :submit, 'Sign Up', class: 'btn btn-primary', data: { disable_with: 'Saving...' }

    = render 'devise/shared/links'
