%h3 Invitation
%p.help-block
  Changing a user's email address will invalidate any previously sent invitation emails.

.row
  .col-sm-6
    = form.input :invitation_sent_at, as: :effective_static_control, value: form.object.invitation_sent_at.try(:strftime, '%Y-%m-%d %H:%M') || 'Not sent'
  .col-sm-6
    - if form.object.invitation_sent_at.present?
      = form.input :invitation_accepted_at,
        as: :effective_static_control,
        value: form.object.invitation_accepted_at.try(:strftime, '%Y-%m-%d %H:%M') || 'Not accepted'

%p
  = link_to 'Resend invitation', reinvite_user_invitation_path(form.object), method: :post, 'data-confirm' => 'Resend invitation?'
