@mixin box-sizing() {
  -webkit-box-sizing: border-box; // Safari <= 5
     -moz-box-sizing: border-box; // Firefox <= 19
          box-sizing: border-box;
}

@mixin preserve-float() {
  // Use to override clear fixes from Bootstrap
  &:before,
  &:after {
    display: none;
    content: none;
  }

  &:after {
    clear: none;
  }
}

@mixin border-radius ($radius) {
  position: relative;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow ($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
       -o-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition ($transition: all 0.2s ease-in-out) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// generic transform
@mixin transform($transforms...) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
       -o-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale ($scale) {
   @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
       -o-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin respond-to($media) {
  @media only screen and (min-width: $media) { @content; }
}

@mixin respond-to-max($media) {
  @media only screen and (max-width: $media) { @content; }
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
