%h1= @page_title

%p Your account belongs to multiple clients!

%p You can invite and manage users separately for each of them.

%p Please select one to continue:

%ul
  - @clients.each do |client|
    %li= link_to client, client_path(client)
