%h2 Account Settings

= simple_form_for @user, url: user_settings_path do |f|
  = render 'users/form', f: f

  .pull-right
    %p= f.button :submit, 'Update Account Settings', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
