#footer-wrap {
  background: #f8f8f8;
  margin-top: 2rem; 
  padding-top: 2rem;
  padding-bottom: 2rem;

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      float: none;
      display: block;
    }
  }
}
