@import 'base/*';

@import 'bootstrap';
@import 'vendor/*';

@import 'effective_assets';
@import 'effective_ckeditor';
@import 'effective_datatables';
@import 'effective_orders';

@import 'components/*';
