= simple_form_for [:admin, @user] do |f|
  = render partial: 'users/form', locals: { form: f, admin: true }

  .row
    .col-sm-6= render partial: 'users/invitation', locals: { form: f }

  %p.text-right
    = f.button :submit, 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
