%h3 Invitation

%p.help-block Changing a user's email address will invalidate any previously sent invitation emails.

.row
  .col-6
    = f.static_field :invitation_sent_at, value: f.object.invitation_sent_at.try(:strftime, '%F %H:%M') || 'Not sent'
  .col-6
    - if f.object.invitation_sent_at.present?
      = f.static_field :invitation_accepted_at,
        value: f.object.invitation_accepted_at.try(:strftime, '%F %H:%M') || 'Not accepted'

%p= link_to 'Resend invitation', reinvite_user_invitation_path(f.object), class: 'btn btn-default', data: { method: :post, confirm: 'Resend invitation?' }
