- flash.each do |key, value|
  .alert-wrap
    %div{class: "alert alert-#{key} alert-dismissible"}
      = value
      %button.close{type: 'button', aria: { label: 'Close' }, data: { dismiss: 'alert' }}
        %span{'aria-hidden': true} &times;
